<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bnk.bangtalchul" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bangtalchul" >
        <activity
            android:name=".view.activity.RadioButtonTestActivity"
            android:exported="false" />
        <activity android:name=".view.activity.MyPageEditActivity" />
        <activity
            android:name=".view.activity.ReserveActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.BoardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.BoardActivity"
            android:exported="false"
            android:label="@string/title_activity_board"
            android:theme="@style/Theme.Bangtalchul.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="true" />
    </application>

</manifest>